<div class="latest-properties-container">
    <div class="filters">
        <select title="اختر نوع العقار" [(ngModel)]="selectedType">
            <option value="">نوع العقار</option>
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
          </select>
          
          <select title="اختر المحافظة" [(ngModel)]="selectedLocation">
            <option value="">المحافظة</option>
            <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
          </select>
          
  
      <button (click)="fetchProperties()">بحث</button>
    </div>
  
    <h2 class="section-title">أحدث العقارات للبيع</h2>
  
    <div class="properties-grid">
      <div class="property-card" *ngFor="let property of properties">
        <img [src]="property.images.URLs[0].secure_url" alt="صورة العقار" />
        <div class="property-details">
          <h3>{{ property.title }}</h3>
          <p>{{ property.description }}</p>
          <div class="info-row">
            <span>غرف: {{ property.rooms }}</span>
            <span>حمامات: {{ property.bathrooms }}</span>
            <span>المساحة: {{ property.area }} م²</span>
          </div>
          <div class="price-row">
            <strong>{{ property.price | number }} جنيه</strong>
            <button class="details-btn" [routerLink]="['/property', property.id]">عرض التفاصيل</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="page <= 1">‹</button>
      <span>{{ page }}</span>
      <button (click)="nextPage()">›</button>
    </div>
  </div>
  