<section class="about-section">
    <div class="about-content">
      <div class="about-text" data-aos="fade-left">
        <h2>لية تختارنا ..؟</h2>
        <p>
            نخلق حلولاً سلسة تجعل اكتشاف العقارات وإدارتها أكثر ذكاءً وسرعة وسهولة في الوصول        </p>
  
        <ul class="about-features">
          <li><i class="fas fa-check-circle"></i> نحن نوفّر لك منصة ذكية تسهّل عملية البحث عن العقار، مع خيارات فلترة دقيقة حسب السعر، الموقع، النوع والمساحة</li>
          <li><i class="fas fa-check-circle"></i> خريطة تفاعلية لعرض المواقع الجغرافية للعقارات، تجعل تجربة التصفح أسهل وأكثر وضوحًا.

          </li>
          <li><i class="fas fa-check-circle"></i> فريق خدمة العملاء مستعد دائمًا لمساعدتك، والرد على جميع استفساراتك بكل احترافية وسرعة.

          </li>
        </ul>
      </div>
  
      <div class="about-image" data-aos="fade-right">
        <img src="assets/images/home/images.jpeg" alt="About Us" loading="lazy" />
      </div>
    </div>
  </section>
  