<div class="change-password-container">
    <h2>تغيير كلمة المرور</h2>
    <form (ngSubmit)="changePassword()">
      <label>كلمة المرور الحالية:</label>
      <input type="password" [(ngModel)]="currentPassword" name="currentPassword" required />
  
      <label>كلمة المرور الجديدة:</label>
      <input type="password" [(ngModel)]="newPassword" name="newPassword" required />
  
      <label>تأكيد كلمة المرور الجديدة:</label>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
  
      <button type="submit">تغيير</button>
      <p class="message">{{ message }}</p>
    </form>
  </div>
  